

<div class="container mt-5">
  <h1>Créer un créneau</h1>
  <form action="/slots/create" method="POST">
  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input type="date" class="form-control" id="date" name="date" required>
  </div>

  <div class="mb-3">
    <label for="time" class="form-label">Heure</label>
    <input type="time" class="form-control" id="time" name="time" required>
  </div>

  <button type="submit" class="btn btn-primary">Créer</button>
</form>


</div>
